<!--Short Description Row-->
<div class="row">
  <div class="col-md text-center">
    <h3 style="font-family: 'Cutive', serif;">Here are your weekly quests.</h3>
  </div>
</div>

<!--Challenges Accordian-->
<div class="row mt-4">
  <div class="col-md text-center">
    <div class="accordion" id="currentQuests">

      {{#each quest}}
      {{#unless completed}} 
      <div class="card">
        <div class="card-header" id='challenge{{id}}'>
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target='#collapse{{id}}'
              aria-expanded="false" aria-controls="collapseOne">
              {{questName}}
            </button>
          </h2>
        </div>

        <div id='collapse{{id}}' class="collapse" aria-labelledby='challenge{{id}}' data-parent="#currentQuests">
          <div class="card-body">
            {{questDescribe}}
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-success complete" name="complete" data-id="{{id}}">Completed!</button>
          </div>
        </div>
      </div>
      {{/unless}} 
      {{/each}}
    </div>
  </div>
</div>

<!--Completed Challenges Row-->
<div class="row mt-4">
  <div class="col-md text-center">
    <h3 style="font-family: 'Cutive', serif;">Completed Quests</h3>
  </div>
</div>

<!--Completed Challenges Accordian-->
<div class="row mt-4">
  <div class="col-md text-center">
    <div class="accordion" id="completedQuests">
      {{#each quest}}
      {{#if completed}}
      <div class="card">
        <div class="card-header" id='completedChallenge{{id}}'>
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target='"#" + {{quest.id}}'
              aria-expanded="false" aria-controls='completedChallenge{{id}}'>
              {{questName}}
            </button>
          </h2>
        </div>
        <div id={{id}} class="collapse" aria-labelledby='completedChallenge{{id}}' data-parent="#completedQuests">
          <div class="card-body">
            {{questDescribe}}
          </div>
          
        </div>
      </div>
      {{/if}}
      {{/each}}

    </div>
  </div>
</div>

<!--Rewards Modal-->
<div class="modal" tabindex="-1" role="dialog" id="rewards-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rewards</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#each quest}}
      {{!-- Need logic to see if all 3 challenges are complete
        Else diplay Finish Text --}}
        <h2>Complete all Challenges to Earn your reward!</h2>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{!-- <script>
  //Login Button Click
  $(".login").on("click", function () {
    $('#signup-modal').modal('hide');
    $('#login-modal').modal('toggle');
  });

  //Sign Up Button Click
  $(".signup").on("click", function () {
    $('#login-modal').modal('hide');
    $('#signup-modal').modal('toggle');
  });
</script> --}}
<div class ="container">
<div id ="broomfieldMap"></div>
{{!-- <div id ="fortcollinsMap">Fort Collins Map</div> --}}
<br>
</div>

